/*-- scss:defaults --*/
// Sass variables for websites, books, manuscripts, revealjs presentations

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// POSIT THEME VARIABLES

$body-bg: #17212B;
$body-color: #ffffff;
$code-color: #72994E;
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;
$link-color: #447099;
$code-block-bg: #213D4F;
$code-block-border-color:  #305775;
$code-block-font-size: 24px;


// Dark colors
$dark-bg-text-color:  #fff !default;
$dark-bg-link-color:  #A2B8CB !default;
$dark-bg-code-color:  #72994E !default;


// Presentation variables for, um, presentations.

$presentation-heading-font-weight: 300;
$presentation-h1-font-size:  2.4em;



/*-- scss:rules --*/

// css for websites, books, manuscripts, revealjs presentations

.reveal .quarto-title-authors {
    opacity: .6;
}


.quarto-dark .code-with-filename .code-with-filename-file, .quarto-dark .code-with-filename .code-with-filename-file pre {
    background-color: #305775;
}







